<!DOCTYPE html>
<html>
<head>
  <title>CRUD SEQUELIZE</title>
  <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css" crossorigin="anonymous">
</head>


<body>
  <nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand "><h1>CRUD Sequelize</h1></a>

  </nav>    
